.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  height: 95vh;
  margin: 0;
  padding: 30px;
 
}
h1 {
  margin-bottom: 20px;
  font-size: 68px;
  width: 100%; /* Add this property to make the heading take up the full width */
    text-align: center; /* Add this property to center-align the heading */
}
footer {
  display: flex;
  text-align: center;
  
}
footer p {
  font-size: 24px;
}
footer p a {
  color: #cd6f16;
}
footer p a:hover {
  color: #cd6e16b8;
}
@media screen and (max-width: 768px) {
  .App {
    margin: 20px;
  }
  h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 280px) and (max-width: 480px) and (min-height: 320px) and (max-height: 853px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 1rem;
  }
}